<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>小型犬</key>
		<array>
			<string>泰迪熊</string>
			<string>雪纳瑞</string>
			<string>贵宾</string>
			<string>比熊</string>
			<string>蝴蝶犬</string>
			<string>约克夏</string>
			<string>吉娃娃</string>
			<string>博美犬</string>
			<string>西施犬</string>
			<string>巴哥</string>
			<string>腊肠</string>
			<string>京巴</string>
			<string>西高地</string>
			<string>银狐犬</string>
			<string>柯基犬</string>
			<string>其他品种</string>
		</array>
	</dict>
	<dict>
		<key>中型犬</key>
		<array>
			<string>萨摩耶</string>
			<string>哈士奇</string>
			<string>松狮</string>
			<string>边境牧羊犬</string>
			<string>沙皮犬</string>
			<string>比格犬</string>
			<string>可卡</string>
			<string>喜乐蒂</string>
			<string>斗牛犬</string>
			<string>巴吉度猎犬</string>
			<string>柴犬</string>
			<string>斗牛梗</string>
		</array>
	</dict>
	<dict>
		<key>大型犬</key>
		<array>
			<string>藏獒</string>
			<string>金毛</string>
			<string>拉布拉多</string>
			<string>阿拉斯加</string>
			<string>苏格兰牧羊犬</string>
			<string>大麦町犬</string>
			<string>德国牧羊犬</string>
			<string>大白熊</string>
			<string>古牧</string>
			<string>罗威纳</string>
			<string>灵提</string>
			<string>圣伯纳</string>
			<string>高加索犬</string>
			<string>杜宾犬</string>
			<string>黑背</string>
			<string>秋田犬</string>
			<string>阿富汗猎犬</string>
			<string>大丹犬</string>
			<string>伯恩山全</string>
			<string>卡斯罗</string>
			<string>威玛猎犬</string>
			<string>万能梗</string>
		</array>
	</dict>
</array>
</plist>
